#intro {

  .btn {
    margin: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 34px;
    width: 210px;
    border-width: 0;
    color: white;
  }

  .btn.facebook {
    background-image: url("../../images/social/facebook-icon.png");
    background-color: #4a6ea9;
  }

  .btn.register {
    background-image: url("../../images/social/tanilans-icon.png");
    background-color: @main-color;
    background-position: 2px 2px;
    background-size: 28px 28px;
  }
}