@import "intro";
@import "register";
@import "activation";

#social {

  border-radius: 0;
  border-width: 1px;
  color: #535353;

  div.content {
    margin-top: 20px;
    padding: 20px;
    background: #ffffff;
  }

  a {
    color: #000000;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 26px;
    color: #000000;
  }

  h2 {
    font-size: 16px;
    padding: 0 5px;
  }

  div.errors {
    font-weight: normal;
    color: #f54616;
  }

  form {

    padding: 20px;

    div.input {
      margin-bottom: 7px;
    }

    label.error {
      input[type = email],
      input[type = password],
      input[type = text],
      input[type = radio],
      input[type = checkbox] {
        border-color: #f54616;
      }
    }

    .checkbox-inline {
      margin-top: 5px;
    }

    .buttons {

      margin-top: 20px;

      .btn {
        border: none;
        padding: 10px;
        background-color: @main-color;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
      }

      .loader {
        color: @main-color;
        background-color: @main-color;
        background-image: url('../../images/social/loader.gif');
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .avatars {

      .picture {
        outline: none;
      }

      .picture.selected {
        background-color: @main-color;
      }
    }

    .slick-slider {
      margin: 0 20px;
    }

    .slick-prev:before, .slick-next:before {
      color: #000000;
    }
  }

  .http-status {
    padding: 0 20px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }

  .status-400, .status-401, .status-403, .status-500 {
    color: @main-color;
  }

  .status-200 {
    color: #00a100;
  }

  .footer {
    margin: 10px 0;
  }
}

.progress {
  height: 34px;
}