#register {

  .input-group-addon {
    background-color: transparent;
    border: none;
  }

  .glyphicon-info-sign {
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding-bottom: 5px;
    cursor: help;
  }

  .popover {
    min-width: 200px;
    max-width: 200px;
  }
}

