.tag-cloud .tag {
    line-height: 30px;
    padding: 0px 5px;
    text-transform: capitalize;
}

.tag-cloud .tag.scale1 {
    font-size: 14px;
}

.tag-cloud .tag.scale2 {
    font-size: 16px;
}

.tag-cloud .tag.scale3 {
    font-size: 18px;
}

.tag-cloud .tag.scale4 {
    font-size: 20px;
}

.tag-cloud .tag.scale5 {
    font-size: 22px;
}

.tag-cloud .tag.scale6 {
    font-size: 24px;
}

.tag-cloud .tag.scale7 {
    font-size: 26px;
}

.tag-cloud .tag.scale8 {
    font-size: 28px;
}

.tag-cloud .tag.scale9 {
    font-size: 30px;
}

.tag-cloud .tag.scale10 {
    font-size: 32px;
}