@import "commons/navbar";
@import "commons/searchWidget.less";

#error {
  min-height: 300px;
  margin-bottom: 30px;
  margin-top: 30px;

  h1 {
    font-size: 50px;
    font-weight: bold;

    span {
      font-size: 180px;
      color: @main-color;
    }
  }

  .canvas {
    background-color: #ffffff;
    padding: 20px;
  }
}


@media (min-width: 768px) {

  #error {
    margin-bottom: 30px;
    margin-top: @menu-height + 30;
  }
}

.error-1 {
  background-image: url("../../images/error-1.jpg");
  background-position: 150px 60px;
}

.error-2 {
  background-image: url("../../images/error-2.jpg");
  background-position: 150px 60px;
}