.row {
	text-align: center
}

.title {
	text-transform: capitalize;
}

.top {
	margin-top: 50px;
	margin-left: -20px;
}

.top .menu a {
	text-transform: uppercase;	
}


.top .menu a {
	margin: 0px 10px;	
}

.top .logo {
	display: block;
	background-image: url("../../images/vanity/logo.jpg");
	width: 406px;
	height: 110px;
	background-repeat: no-repeat;
	color: transparent;
}

.search input {
	margin-bottom: 0px;	
	height: 40px;	
}

.search button {
	height: 48px;	
}

.section {
	margin-bottom: 20px;	
}

div.popular.row,
div.icons.row,
div.news.row ,
div#footer .row {
	text-align: left;
}

div.icons.row a {
    text-transform: capitalize;
}

.tag-cloud .tag {
	line-height: 30px;
	padding: 0px 5px;
	text-transform: capitalize;
}

.tag-cloud .tag.scale1 {
	font-size: 14px;	
}

.tag-cloud .tag.scale2 {
	font-size: 16px;		
}

.tag-cloud .tag.scale3 {
	font-size: 18px;		
}

.tag-cloud .tag.scale4 {
	font-size: 20px;		
}

.tag-cloud .tag.scale5 {
	font-size: 22px;		
}

.tag-cloud .tag.scale6 {
	font-size: 24px;		
}

.tag-cloud .tag.scale7 {
	font-size: 26px;		
}

.tag-cloud .tag.scale8 {
	font-size: 28px;		
}

.tag-cloud .tag.scale9 {
	font-size: 30px;		
}

.tag-cloud .tag.scale10 {
	font-size: 32px;	
}

.popular .tag-cloud {
	text-align: justify;
}

.icons p {
	text-align: center;
}

.icons p a:first-child {
	margin-left: 0px;	
}

.icons p a {
	margin-left: 20px;	
}

.search {
    position: relative;
    height: 80px;
}
.search button {
    position: absolute;
    right: 150px;
}

#search-field {
    z-index: 1;
}

#search-field-input {
    z-index: 2;
}

#search-field,
#search-field-input {
    position: absolute;
    left:160px;
}

#search-field.ui-autocomplete-loading {
    background-image: url("../../images/vanity/loader_big.gif");
    background-position: 510px center;
    background-repeat: no-repeat;
}

.ui-autocomplete .ui-menu-item a {
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}

.ui-menu .ui-menu-item a.ui-state-focus {
    margin: 0;
}

.ui-autocomplete .ui-menu-item .ui-state-focus {
    background-color: #cccccc;
    background-image: none;
    border: none;
}

.ui-widget-content a {
    color: #0088cc;
}

.ui-widget-content a:hover {
    color: #005580;
}


#search-result {
    position: absolute;
    list-style: none;
    z-index: 100;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 15px 13px rgba(50, 50, 50, 0.71);
    -moz-box-shadow:    0px 15px 13px rgba(50, 50, 50, 0.71);
    box-shadow:         0px 15px 13px rgba(50, 50, 50, 0.71);
}

#search-result li {
    background-color: #ffffff;
    padding: 5px 10px;
}

#search-result a {
    background-color: #ffffff;
}